.container{
  display: flex;
  justify-content: center;
} 
.image-form {
  width:600px;
  padding:50px;
}

@media(max-width:600px){
  .container{
    display: flex;
    flex-direction: column; 
  }
}
  .form-container{
    display: flex;
    justify-content: center;
  }
  h1{
    margin-left:50px;
  }
   img{
    width:100px;
} 
